:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #5d01c6;
    --colorPrimaryLight: #7d32df;
    --colorPrimaryVeryLight: #d1caec;
    
    /* Secondary color */
    --colorSecondary:#df0038;
    --colorSecondaryLight: #f03d6a;
    --colorSecondaryVeryLight: #ffa2b9;
}