:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #5a2acc;
    --colorPrimary200: #5232df;
    --colorPrimary100: #cacaec;
    
    /* Secondary color */
    --colorSecondary:#df0038;
    --colorSecondary200: #f03d6a;
    --colorSecondary100: #ffa2b9;
}