// Import helpers files
@import 'helpers/colors.scss';
@import 'helpers/medias.scss';
@import 'helpers/misc.scss';
@import 'helpers/spaces.scss';
@import 'helpers/fonts.scss';
@import 'helpers/reset.scss';

// Import helpers files
@import 'components/button.scss';
@import 'components/header.scss';
@import 'components/simple-link.scss';
@import 'components/hero.scss';
@import 'components/error404.scss';
@import 'components/landing-page.scss';
@import 'components/burger-menu.scss';
@import 'components/crypto-card.scss';
@import 'components/form.scss';
@import 'components/loader-spinner.scss';
@import 'components/transactions-list.scss';


@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic');
@import url('https://fonts.googleapis.com/css?family=Assistant');


html {
  height: auto;
  width: auto;
  padding: 0;
  background-image: url("../assets/backgrounds/cyber.jpg");
}

.text-clip {
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
    background: none;
    text-decoration: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: var(--colorPrimary100); 
}

html::-webkit-scrollbar-thumb {
  background: var(--colorPrimary); 
}

body {
  margin:0;
  padding: 0;
  background: linear-gradient(217deg, rgba(88, 1, 160, 0.521), rgba(26, 26, 26, 0.1) 70.71%),
            linear-gradient(127deg, rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.2) 40%),
            linear-gradient(336deg, rgba(100, 26, 185, 0.562), rgba(0, 0, 0, 0.3) 40%);
  // background-color: rgba(rgb(22, 22, 22), 0.6);
  backdrop-filter: blur(12px);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h3, h4, h5, h6, .ethernel-font {
  // margin: 0;
  font-family: 'Michroma';
}
h2 {
  font-family: 'Michroma';
}

.App {
  padding: 5px 0;
  min-height: 100vh;
  color: white;
  margin: 0 40px;
  font-family: 'Assistant';
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 1240px) and (min-width: 769px) {
    margin: 0 40px;
  }

  @media screen and (min-width: 1300px) {
    margin: 0 100px;
  }
}
