.button {
    padding: 10px 30px;
    border-radius: 4px;
    
    &-color {
        background-color: rgb(98, 3, 206);
        &:hover {
            background-color: rgb(144, 49, 252);
        }
    }

    // Simple buttons
    &-simple {
        &.button-lg {
            font-size: 24px;
        }
        &.button-md {
            font-size: 20px;
        }
        &.button-sm {
            font-size: 16px;
        }
    }
}