.crypto-card {
    display: flex;
    flex-direction: column;
    margin: var(--spaceM);
    padding: var(--spaceM);
    height: 200px;
    width: 340px;

    // @include mobile {
    //     height: 200px;
    //     width: 340px;
    // }
    @include mobile {
        height: 47vw;
        width: 80vw;
    }

    border-radius: var(--spaceS);
    // background-color: aliceblue;
    background-color:#d699ff;
    background-image:  
radial-gradient(at 72% 91%, hsla(255,70%,77%,1) 0, transparent 54%),  
radial-gradient(at 55% 78%, hsla(215,81%,66%,1) 0, transparent 54%),  
radial-gradient(at 21% 62%, hsla(316,81%,66%,1) 0, transparent 58%),  
radial-gradient(at 34% 23%, hsla(167,77%,75%,1) 0, transparent 47%),  
radial-gradient(at 93% 12%, hsla(288,96%,61%,1) 0, transparent 45%),  
radial-gradient(at 90% 19%, hsla(349,66%,76%,1) 0, transparent 48%),  
radial-gradient(at 53% 69%, hsla(229,72%,68%,1) 0, transparent 50%);
    backdrop-filter: blur(10px);
    color:var(--colorMainBlack);
    h5 { 
        margin-top: auto;
    }

    .image-wrapper {
        width: 50px;
        height: 50px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
