.transactions-list {
    padding: 2rem 0px;  
    display: grid;
    gap: var(--spaceM);
    grid-template-columns: repeat(4, 1fr);

    @include regular {
        grid-template-columns: repeat(3, 1fr);
    }
    @include small {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
        grid-template-columns: none;
    }
    
    .transaction {
        box-shadow: var(--boxShadow);
        display: flex;
        flex-direction: column;
        border-radius: var(--borderRadiusSmall);
        overflow: hidden;
        // min-height: 360px;
        background-position: center;
        background-size: cover;
        @include large {
            aspect-ratio: 1/1;
        }
        .informations {
            overflow: hidden;
            padding: var(--spaceS);
            background-color: rgba(209, 225, 255, 0.867);
            color: black;
            // border-radius: var(--borderRadiusSmall);
            
            .transaction-information {
                display: flex;
                justify-content: space-between;
                .label {
                    text-align: left;
                }
                .value {
                    text-align: right;
                    flex: 1;
                }
            }
        }
        
        .message {
            padding: var(--spaceS);
            background-color: rgba(255, 255, 255, 0.137);
            color: var(--colorWhite);
            margin-top: auto;
        }
        .image-container {
            background-color: white;
            max-width: 100%;
            height: 225px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            @include regular {
                height: 200px;  
            }
            @include small {
                height: 180px;  
            }
            img {
                object-position: center center;
                min-height: 100%;
                min-width: 100%;
                object-fit: cover;
            }
        }

    }
}